.products__title {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #282828;
}

.products__heading {
  width: 250px;
}

.products__link {
  padding: 10px 26px;
  display: inline-flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #181725;
  text-decoration: none;
  background: #53b1751a;
  border-radius: 30px;
}

.products__link::after {
  margin-left: 21px;
  display: inline-block;
  width: 20px;
  background-image: url("./images/arrow-right.svg");
  background-repeat: no-repeat;
  content: "";
}

.article {
  margin: 141px 0;
  position: relative;
}

.article__title {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 100px 0 205px 100px;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;
}

.product-card {
  width: 240px;
  padding: 13px;
  border: 1px solid #e2e2e2;
  border-radius: 18px;
}

.product-name {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  color: #181725;
}

.product-type {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #7c7c7c;
}

.product-old-price {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  text-decoration-line: line-through;
  color: #808080;
}

.product-new-price {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #53b175;
}

.tafsilot {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #bdbdbd;
  border: none;
  background-color: transparent;
}
.heart-btn {
  border: none;
  width: 25px;
  height: 25px;
  background-color: transparent;
}

.product-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.wrapp {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 64px 0;
  gap: 10px;
}

.plus-btn {
  border: none;
  background-color: #fff;
}